body {
    
    margin: 0;
    font-family: "Courier New", monospace;
}

/* .monster-folder{
    grid-column: 2 / 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url("https://i.imgur.com/K4i9JjH.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: 100%;
} */

.card {
    text-align: center;
    border: black solid 1px;
    
    width: 25rem;
    height: 25rem;
    display: inline-grid;
    
}

.monster-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
}



