body {
    text-align: center;
    font-family: "Courier New", monospace;
    color: black;
    background-image: url('https://i.imgur.com/Ysok5QY.jpg');
    background-repeat: no-repeat;
    background-size: 2000px;
}

.dark-mode {
    background-image: url('https://i.imgur.com/0rMzDFW.jpg') ;
    background-position: top;
    font-family: "Courier New", monospace;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 2500px;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header header header header header header' 
        'left left middle middle right right' 
        'footer footer footer footer footer footer';
    grid-column-gap: 20px;
} 

.header {
    grid-area: header;
    margin: 50px 0px 0px 0px
    text-align: center;
}

.left,
.middle,
.right {
    padding: 10px;
}


.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
}

input[type=text]{
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    margin: 2px;
    padding: 0px 0px 10px 10px;
    width: 30%;
    border-radius: 4px;
    color: black;
    background-color: rgb(189, 189, 189);
}

/* monster trading cards */

.monster-card {
    width: 280px;
    height: 410px;
    background-image: url('https://i.imgur.com/d9saRAE.png');
    background-size: 280px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    border: rgb(0, 0, 0) solid 3px;
    display: inline-block;
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: holoCard 15s ease infinite
}

.monster-card > span {
    position: relative;
    top: 45%;
}



#name {
    position: absolute;
    margin: 21px 0px 0px 8px;
    padding: 6px 0px 60px 50px;
    width: 170px;
    font-size: small;
    font-weight: bold;
    /* text-align: center; */
    /* vertical-align: middle; */
}

#id {
    position: absolute;
    margin: 58px 50px 20px 180px;
    font-weight: bold;
    font-size: small;
}

#img {
    width: 170px;
    height: auto;
    position: absolute;
    margin: 85px 0px 0px -86px;
    border-radius: 15px
    
}

#desc {
    position: absolute;
    margin: 308px 0px 0px 25px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    width: 232px;
    height: 74px;
    background:rgb(227, 255, 195);
    border-radius: 4px;
}

#rarity {
    position: absolute;
    margin: 60px 0px 100px 50px;
    font-weight: bold;
    font-size: x-small;
}

#cat {
    font-size: small;
    font-weight: bold;
    margin: 273px 0px 0px 40px;
    position: absolute;
    width: auto;
    height: auto;
    background:rgb(243, 250, 234)
    
}


/*  user id card  */

.user-card {
    width: 446px;
    height: 245px;
    background-color: #ffffff;
    background-image: url('https://i.imgur.com/UdyNzok.jpg');
    background-size: 446px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    border: rgb(231, 231, 231) solid 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* vertical-align: middle; */
    margin: 10px 10px;
    /* animation: holoCard 15s ease infinite; */
}

#user-avatar {
    width: 110px;
    position: absolute;
    margin: 47px 0px 0px 93px;
}

#user-name {
    position: absolute;
    margin: 190px 0px 0px 250px;
    font-weight: bold;
}

.monster-card:before,
.monster-card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(
        115deg,
        transparent 0%,
        rgb(0, 0, 0) 30%,
        rgb(43, 255, 0) 70%,
        transparent 100%
    );
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    mix-blend-mode: color-dodge;
    opacity: 0.2;
    /* z-index: ; */
    animation: holoGradient 15s ease infinite;
}
.monster-card:after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
    background-position: center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    opacity: 1;
    /* z-index: 2; */
    animation: holoSparkle 15s ease infinite;
}

/* .monster-card.active:before {
    opacity: 1;
    animation: none;
    transition: none;
    background-image: linear-gradient(
        115deg,
        transparent 0%,
        transparent 25%,
        rgba(0, 231, 255,0.7) 45%,
        rgba(255, 0, 231,0.7) 55%,
        transparent 70%,
        transparent 100%
    );
} */

/* .monster-card.active:before,
.monster-card.active:after {
    animation: none;  
}

.card:nth-of-type(1),
.card:nth-of-type(2),
.card:nth-of-type(3) {
    width: 160px;
    height: 226px;
    box-shadow: 0 0 1px 1px rgba(white,0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
}

.monster-card:nth-of-type(1),
.card:nth-of-type(2),
.card:nth-of-type(3) {
    &:before, &:after {
        animation: none;
        opacity: 1;
    }

}
.card:nth-of-type(1) {
&:before, &:after { display: none; }
}

.card:nth-of-type(2) {
    background: none;
    &:before { display: none; }
}

.card:nth-of-type(3) {
    background: none;
    &:before { background-position: center; }
    &:after { display: none; }
}

.operator {
    display: inline-block;
    vertical-align: middle;
    font-size: 45px;
} */

@keyframes holoSparkle {
    0%, 5% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

@keyframes holoGradient {
    0%, 100% {
    opacity: 0;
    background-position: 0% 0%;
    }
    8% {
    opacity: 0;
    }
    10% {
    background-position: 0% 0%;
    }
    19% {
    background-position: 100% 100%;
    opacity: 0.5;
    }
    35% {
    background-position: 100% 100%;
    }
    55% {
    background-position: 0% 0%;
    opacity: 0.3;
    }
    75% {
    opacity: 0;
    }
}

@keyframes holoCard {
    0%, 100% {
    transform: none;
    }
    25% {
    transform: rotateZ(-3deg) rotateX(-7deg) rotateY(6deg);
    }
    66% {
    transform: rotateZ(3deg) rotateX(7deg) rotateY(-6deg);
    }
}

/* Buttons */   

.button {
    border-radius: 6px;
    font-family: "Courier New", monospace;
    font-size: medium;
    padding: 4px 4px 4px 4px;
    color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(136, 0, 255, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #00ff0d, #000000, #41fe28);
    box-shadow: 2px 1000px 1px rgb(0, 0, 0) inset;
    cursor: crosshair;
}

.fav-button {
    border-radius: 4px;
    margin: 25px 0px 0px -110px;
    padding: 0px 15px 0px 10px;
    position: absolute;
    z-index: 1;
    background-color:rgb(0, 0, 0)
}

.fav-button:hover{
    box-shadow: 0 0 6px 0 rgba(136, 0, 255, 0.5);
    background-color: rgb(83, 0, 121);
}

.favorite{
    border-radius: 4px;
    margin: 25px 0px 0px -110px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 6px 0 rgb(187, 255, 181);
    background-image: url('https://i.imgur.com/FebONfq.jpg')
}
